.container {
    padding: 20px;
    border: black 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 160px;
}
.textLabel {
    font-size: 15px;
    font-family: system-ui;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
.errorNote {
    color: red;
}