.focusedItem {
    background-color: rgb(228, 231, 243);
}
.dropDown {
    border : rgba(63,70,98, .4) solid 1px;
    box-sizing : border-box;
    min-height: 19px;
    background-color: white;
}
.textBox {
    border: rgba(63,70,98, .4) solid 1px;
    margin-right: 5px;
    outline: none;
    padding: 0px 5px;
}
.container {
    display: flex;
}
.text {
    font-size: 15px;
    font-family: system-ui;
}
.label {
    margin-right: 5px;
}
.horizontal {
    flex-direction: row;
    align-items: center;
}
.vertical {
    flex-direction: column;
}
.icon {
    width: 15px;
    height: 15px;
}