.focusedItem {
    background-color: rgb(228, 231, 243);
}
.dropDown {
    border : rgba(63,70,98, .4) solid 1px;
    box-sizing : border-box;
    min-height: 19px;
    background-color: white;
}
.widgetContainer {
    display: flex;
    align-items: center;
}
.widget {
    padding-bottom: 5px;
}
.label {
    margin-right: 5px;
}
.icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.containerPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
}